# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node.js dependencies
/node_modules
/.pnp
.pnp.js

# Testing coverage reports
/coverage

# Environment variables
.env

# Production build artifacts
/build

# Local environment configuration files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase CLI cache and configurations (if any)
.firebase/
