.audio-player {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
    float: left
}
  
.controls {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
  
.control-button {
    background-color: #0038B8;
    color: #fff;
    border: none;
}
  
.control-button:hover {
    background-color: #002a8e;
}
  
.progress-slider {
    margin-bottom: 10px;
}
  
.timestamp {
    text-align: center;
}
  
.timestamp-text {
    font-size: 16px;
    font-weight: bold;
    color: #0038B8;
}
  